{% extends "base.html" %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class='container'>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail">
                <div class="caption">
                    {% if post.image %}
                    <img src='{{ post.image.url }}'' class=' img-responsive'>
                    {% endif %}
                    <h3>{{ post.title}}<small> {{post.publishing_date}}</small></h3>
                    <h4> Yazar : {{ post.user.get_full_name }}</h4>
                    <p>{{ post.content|linebreaks|truncatechars:60 }}</p>
                    <p><a href="{{post.get_absolute_url}}" class="btn btn-primary" role="button">Incele</a>
                        <a href="{{post.get_update_url}}" class="btn btn-default" role="button">Guncelle</a>
                        <a href="{{post.get_delete_url}}" class="btn btn-danger" role="button">Sil</a>
                    </p>
                </div>
            </div>
            <br><br>
            <hr>
            {% if request.user.is_authenticated %}
            <h3> Şərh əlavə et : </h3>
            {% include "post/comment.html" %}
            <hr>
            {% else %}
            <h4> Şərh əlavə etmək üçün zəhmət olmasa <a href='{% url "accounts:login" %}'>giriş edin</a> </h4>
            <hr>
            {% endif %}
            {% for comment in post.comments.all %}
            <h4>{{comment.name }} | <small>{{comment.created_date|timesince}}</small></h4>
            <p> {{comment.content}} </p>
            {% if request.user.is_superuser  %}
                <p><a href="{{comment.get_delete_url}}" class="btn btn-danger" role="button">reyi sil</a>
            {% endif %}
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}